<div th:switch="${employees}">
    <h2 th:case="null">No employees yet!</h2>
        <div th:case="*">
            <h2>Employees</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.email}"></td>
                    <td><a th:href="@{/edit/{id}(id=${employee.id})}">Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${employee.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>      
    <p><a href="/signup">Add a new employee</a></p>
</div>